.btn-primary {
  background-color: rgb(199,21,133)
}
body {
  background-color: rgb(204, 153, 255);
  color: rgb(0,0,0);
  font-style: italic;
}
.form-group {
  margin-top: 30px;
}
.btn-outline-success {
  color: rgb(255,255,255)
}
.
